@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #faf7f2;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}